*.bin
.DS_Store
*.wav
*.mp3
whisper-base-jyutping-without-tones-full/
whisper-base-jyutping-without-tones-full-merged/
whisper-base-jyutping-without-tones-full-zh-HK/
whisper-small-jyutping-without-tones/
whisper-small-jyutping-without-tones-full/
whisper-small-jyutping-without-tones-all/
whisper-tiny-jyutping-without-tones-full/
whisper-tiny-jyutping-without-tones/
yue/
yue_common_voice/
zh-HK/
mdcc/
flagged/
